.slide-gallery__container{
    margin: 2rem 0;
    .slide-gallery__title{
        text-transform: uppercase;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
}