$mobile:768px;
$tablet:1024px;

$font-family:'Montserrat', sans-serif;

$bg-color:#fff;
$color-primary: #221f20;
$color-secondary:#6c6d70;
$color-hover:#ac2f33;
$color-check:#2cb5ff;


$white:#fff;
$grey:#e7e8e9;

$border: 1px solid #E7E8E9;